.fmz-select {
    text-align: center;
    display: inline-block;
}


.fmz-select select {
    font-size: 15px;
    display: inline-block;
    border: 2px solid #AAB8C8;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    letter-spacing: 1px;
    max-width: 150px;
    width: 100%;
}

.fmz-select :focus {
    outline: none;
    border: 2px solid #00b2ff;
}
